body {
    font-family: "Palatino Linotype", Palatino, serif;
    margin: 0;
    background-color: #f7f9fc;
}

header {
    background-color: #003366;
    padding: 15px 30px;
}

nav a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
}

.container {
    max-width: 900px;
    margin: 30px auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
}

h1, h2 {
    color: #003366;
}
.profile {
    display: flex;
    align-items: center;
    gap: 30px;
}

.profile img {
    width: 160px;
    border-radius: 50%;
    border: 3px solid #003366;
}


